{{#each game.categories}}
  <div class="category">
    <h3 class="category-title" id="{{this.id}}">{{name}}</h3>
    <!-- {{#each clues}}
      <ul>
        <li class="clue" id="{{this.id}}">
          {{question}}
          <li><em>{{answer}}</em></li>
        </li>
      </ul>
    {{/each}} -->
    </div>
  </div>
{{/each}}
